.large-box {
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.file-label {
  margin: 20px 0;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
