mat-list {
  width: 300px;

  mat-list-item {
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

.flex {
  display: flex;
  padding: 10px 0px;
}

img {
  max-width: 150px;
  max-height: 150px;
}

.btn {
  display: flex;
  justify-content: end;

  button {
    margin-left: 20px;
  }
}
