<mat-toolbar>
  <span>目前位置：消息分類</span>
</mat-toolbar>
<div class="contain">
  <div class="contents mat-elevation-z8">
    <mat-expansion-panel expanded="{{ panelOpenState }}" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        {{ panelOpenState ? "收合" : "展開" }}查詢列
      </mat-expansion-panel-header>
      <form class="searchStyle" [formGroup]="form">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>關鍵字查詢</mat-label>
            <input matInput placeholder="請輸入關鍵字查詢碼" maxlength="10" formControlName="docCode" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>商品編號</mat-label>
            <input matInput placeholder="請輸入商品編號" name="fileName" maxlength="20" formControlName="docName" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>商品分類</mat-label>
            <mat-select formControlName="categories">
              <mat-option *ngFor="let category of categories" [value]="category.value">
                {{category.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>上架狀態</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let state of status" [value]="state.value">
                {{state.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>

      <div class="btnStyle">
        <button mat-raised-button color="primary" (click)="clickPage()">查詢</button>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="title">
    <h2>消息類別</h2>
    <button mat-raised-button color="primary" routerLink="/dashboard/n020300/n020302">新增消息</button>
  </div>
  <ng-container *ngIf="showData">
    <div class="title">
      <button mat-raised-button color="warn" (click)="deleteSelected()">刪除消息</button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- index Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
      </ng-container>

      <!-- Group Column -->
      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef> 群組名稱 </th>
        <td mat-cell *matCellDef="let element" (click)="navigateToEditPage(row)"> {{element.group}} </td>
      </ng-container>

      <!-- Tag Column -->
      <ng-container matColumnDef="tag">
        <th mat-header-cell *matHeaderCellDef> tag </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-listbox aria-label="Color selection">
            <mat-chip *ngFor="let chip of element.tag" selected>
              {{chip}}
            </mat-chip>
          </mat-chip-listbox>
        </td>
      </ng-container>

      <!-- Message Column -->
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> 訊息 </th>
        <td mat-cell *matCellDef="let element"> {{element.message}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>


      <!-- Row shown when there is no matching data that will be provided to the wrapper table. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5" align="center" valign="center" style="height: 140px;">查無資料</td>
      </tr>
    </table>
  </ng-container>

</div>
