<h2 mat-dialog-title>確認是否{{title}}</h2>
<mat-dialog-content class="mat-typography">
  <h3>請選擇要重新發送的通知：</h3>
  <mat-form-field appearance="fill">
    <mat-label>選擇</mat-label>
    <mat-select>
      <mat-option value="one">訂單成立通知</mat-option>
      <mat-option value="two">訂單狀態更新通知</mat-option>
      <mat-option value="one">付款狀態更新通知</mat-option>
      <mat-option value="two">送貨狀態更新通知</mat-option>
    </mat-select>
  </mat-form-field>
  <div>系統將發送email通知</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close class="cancelBtn">取消</button>
  <button mat-raised-button mat-dialog-close cdkFocusInitial (click)="openDialog()">{{title}}</button>
</mat-dialog-actions>
