<mat-toolbar color="primary" class="demo-app-header">
  <button mat-icon-button (click)="sideNav.toggle()">
    <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
  </button>

  <span>SHOPLINE</span>

  <!-- 在這之後的都會被推到右邊去 -->
  <span class="toolbar-seprator"></span>

  <button mat-icon-button [matMenuTriggerFor]="messageMenu" #menuTrigger="matMenuTrigger">
    <mat-icon>message</mat-icon>
  </button>
  <mat-menu #messageMenu="matMenu">
    <button mat-menu-item>最新訊息</button>
    <button mat-menu-item>訊息設定</button>
  </mat-menu>
  <button mat-icon-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="demo-app-container">

  <mat-sidenav style="min-width: 200px;" class="demo-app-sidenav" #sideNav mode="push">
    <mat-nav-list>
      <mat-accordion multi="false">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              總覽
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a routerLink="/dashboard/n00" mat-list-item>總覽</a>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              For ED
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a routerLink="/dashboard/n020300" mat-list-item>消息分類</a>
          <a routerLink="/dashboard/n020300/n020303" mat-list-item>機器人設定</a>
          <a routerLink="/dashboard/n020300/n020304" mat-list-item>消息發送</a>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              訂單管理
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a routerLink="/dashboard/n010100" mat-list-item>訂單查詢</a>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              商品及分類
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a routerLink="/dashboard/n020100" mat-list-item>商品列表</a>
          <a routerLink="/dashboard/n020200" mat-list-item>添加商品</a>
          <a routerLink="/dashboard/n020300" mat-list-item>商品分類</a>
          <a routerLink="/dashboard/n020400" mat-list-item>商品類型</a>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              庫存管理
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a routerLink="/dashboard/n03" mat-list-item>庫存管理</a>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              顧客管理
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a routerLink="/dashboard/n04" mat-list-item>顧客管理</a>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              促銷設定
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a routerLink="/dashboard/n05" mat-list-item>促銷設定</a>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              報表管理
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a routerLink="/dashboard/n06" mat-list-item>報表管理</a>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              報表管理
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a routerLink="/dashboard/n060100" mat-list-item>報表管理</a>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              網站設計
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a routerLink="/dashboard/n070100" mat-list-item>首頁區塊設定</a>
          <a routerLink="/dashboard/n070200" mat-list-item>首頁輪播</a>
          <a routerLink="/dashboard/n070300" mat-list-item>基本SEO設定</a>

        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
